.container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
}

.container > * {
    padding: 5px;
    flex: 1 100%;
}

.header {
}

.footer {
    width: 300px;
    height: 100px;
    text-align: center;
}

body {
    padding: 2em;
}

.pure-g > div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.l-box {
    text-align: center;
    vertical-align: middle;
    padding: 3px;
}

.floor-button {
    height: 2.5em;
    width: 3em;
}